body {
    background-color: rgb(255, 144, 205);
    text-align: center;
}
h1{
    color: white;
    font-size: 5em;
}
h1:hover{
    color: black;
}
h2{
    color: white;
    font-size: 1.6em;
    line-height: 45px;
}
h3{
    color: white;
    font-size: 2em;
}
h4{
    text-align: justify;
    font-size: 2em;
    width: 45%;
    margin: 20px auto;
}
h1, h2, h3{
    width: 45%;
    margin: 50px auto;
}
img{
    width: 15%;
    display: block;
    margin: 0 auto;
}
.main-para{
    color: white;
    font-size: 3.5em;
    width: 30%;
    margin: 50px auto;
}
footer{
    font-size: 1.5em;
    width: 45%;
    margin: 0 auto;
}
